###############################################################################
# Docker Compose (Desenvolvimento)
###############################################################################

# Subir os containers
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev up --build

# Subir em segundo plano
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev up -d --build

# Parar os containers
# docker compose -f docker-compose.yaml -f docker-compose.dev.yaml --env-file .env.dev down

###############################################################################
# Spring
###############################################################################

SPRING_PROFILES_ACTIVE=dev

###############################################################################
# Database
###############################################################################

DB_HOST=postgres
DB_PORT=5432
DB_NAME=blog_db
DB_USER=postgres
DB_PASSWORD=postgres

###############################################################################
# Backend
###############################################################################

BACKEND_PORT=8081

###############################################################################
# Keycloak
###############################################################################

KEYCLOAK_ISSUER_URI=http://localhost:8080/auth/realms/Blue_Fox_Group
