###############################################################################
# Docker Compose (Produção)
###############################################################################

# Subir os containers
# docker compose -f docker-compose.yaml -f docker-compose.prod.yaml --env-file .env.prod up -d --build

# Parar os containers
# docker compose -f docker-compose.yaml -f docker-compose.prod.yaml --env-file .env.prod down

###############################################################################
# Spring
###############################################################################

SPRING_PROFILES_ACTIVE=prod

###############################################################################
# Database
###############################################################################

DB_HOST=postgres
DB_PORT=5432
DB_NAME=blog_db
DB_USER=CHANGE_ME_DB_USER
DB_PASSWORD=CHANGE_ME_DB_PASSWORD

###############################################################################
# Backend
###############################################################################

BACKEND_PORT=8080
