```gitattributes
###############################################################################
# Default
###############################################################################

* text=auto

###############################################################################
# Java
###############################################################################

*.java         text
*.kt           text

###############################################################################
# Spring
###############################################################################

*.properties   text
*.yml          text
*.yaml         text

###############################################################################
# XML
###############################################################################

*.xml          text

###############################################################################
# Maven
###############################################################################

pom.xml        text

###############################################################################
# Markdown
###############################################################################

*.md           text

###############################################################################
# Docker
###############################################################################

Dockerfile     text
*.dockerfile   text
*.sh           text eol=lf

###############################################################################
# GitHub Actions
###############################################################################

.github/**     text

###############################################################################
# Windows scripts
###############################################################################

*.bat          text eol=crlf
*.cmd          text eol=crlf

###############################################################################
# Binary files
###############################################################################

*.jar          binary
*.png          binary
*.jpg          binary
*.jpeg         binary
*.gif          binary
*.ico          binary
*.pdf          binary
*.zip          binary
```
