# Dependencies
node_modules/

# Build artifacts
dist/

# Logs
logs/
*.log

# Environment variables
.env
.env.dev
.env.prod
!.env.dev.example
!.env.prod.example

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
